<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Hello World </title>
    <link rel="stylesheet" herf="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>HELLO</h1>
            <h1>Deep</h1> <a href="https://www.youtube.com"> Youtube</a>
            <h2>Go to from page to fill up the froms</h2>
        </div>
    </div>


    <img src="{% static 'images/abstract-832a.jpg' %}" />










</body>

</html>